@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
 Robô para atualização de estruturas no SQL server.
</address>

<address>
    <strong>Telefone:</strong> <a>(11)98326-8692</a><br />
    <strong>Email:</strong> <a href="mailto:lucasgolnich@hotmail.com">lucasgolnich@hotmail.com</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/lucas-golnich-86a151191">Lucas Golnich</a><br />
    <strong>Github:</strong> <a href="https://github.com/Golnich">Repositório</a>
</address>